---
---

@import "minima";

.highlight-box {
  background-color: #f0f8ff; /* Light blue background */
  border: 2px solid #87ceeb; /* Sky blue border */
  color: #333; /* Dark text color */
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}